<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Website</title>
    <link rel = "stylesheet" href = "style.css">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class = "sub-header">
        <nav>
            <a href = "index.html"><img src="images/logo.png"></a>
            <div class = "nav-links">
                <ul>
                    <li><a href = "index.html">Home</a></li>
                    <li><a href = "about.html">About</a></li>
                    <li><a href = "courses.html">Courses</a></li>
                    <li><a href = "blog.html">Blog</a></li>
                    <li><a href = "contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
        <h1>About Us</h1>
    </section>

    <!-- ............... about us........... -->
     <section class = "about-us">
        <div class = "row">
            <div class = "about-col">
                <h1>Invest on our next generation.</h1>
                <p>
                    Netrokona Government Girls' High School has been upholding its 
                    legacy by shaping ideal students. 
                    With the goal of turning the school into an exemplary educational
                     institution, we aim to produce honest, disciplined, 
                    and knowledgeable students who will contribute to the
                     welfare of society, the country, and humanity.
                </p>
                <a href="" class="hero-btn red-btn">Explore Now</a>
            </div>

            <div class = "about-col">
                <img src = "images/about.png">
            </div>
        </div>
     </section>

      <!-- .........footer....... -->
       <section class="footer">
        <h4> Abou Us</h4>
        <p>We are aiming to adopt the latest inventions</p>
        <div class = "icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>

        </div>

        <p> Mode with <i class="fa fa-heart-o"></i> by
             Tech Code All Rights Reserved</p>
       </section>


</body>
</html>